header {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #c5c5c5;
}

nav {
    cursor: pointer;
    transition: 200ms ease-in-out;

    &:hover {
        color: #999;
    }
}
