.home {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.album-continuer {
    max-width: 500px;
    min-width: 500px;
}

.album-thumbnail {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: gray 4px 4px 4px;
}
