.home {
    display: flex;
    justify-content: center;
}

.album-continuer {
    max-width: 498px;
    margin: 2rem;
}

.album-thumbnail {
    min-width: 150px;
    min-height: 150px;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: gray 4px 4px 4px;
}
